/* IO specific variables. */

/* How much to translate arrow on hover */
$io-arrow-travel: 5px !default;

$io-padding-map: (
  xs: (
    xs: 15px,
    sm: 15px,
    md: 15px,
    lg: 15px
  ),
  sm: (
    xs: 15px,
    sm: 15px,
    md: 30px,
    lg: 45px
  ),
  md: (
    xs: 15px,
    sm: 15px,
    md: 50px,
    lg: 70px
  ),
  lg: (
    xs: 15px,
    sm: 15px,
    md: 75px,
    lg: 120px
  ),
  xl: (
    xs: 15px,
    sm: 15px,
    md: 140px,
    lg: 180px
  ),
) !default;


$io-font-sizes: (
  xs: (
    xs: 12px,
    sm: 12px,
    md: 12px,
    lg: 12px
  ),
  sm: (
    xs: 14px,
    sm: 14px,
    md: 14px,
    lg: 14px
  ),
  md: (
    xs: 16px,
    sm: 16px,
    md: 16px,
    lg: 16px
  ),
  lg: (
    xs: 24px,
    sm: 24px,
    md: 24px,
    lg: 24px
  ),
  xl: (
    xs: 38px,
    sm: 38px,
    md: 38px,
    lg: 38px
  ),
  xxl: (
    xs: 58px,
    sm: 58px,
    md: 58px,
    lg: 58px
  )
) !default;

$io-line-heights: (
  xs: 1.6,
  sm: 1.6,
  md: 1.6,
  lg: 1.6
) !default;

/* how much margin is added to the right of each list item, EXCEPT last item */
$io-list-inline-padding: (
  xs: 0,
  sm: 0,
  md: 55px,
  lg: 55px
) !default;


//
// RFS
//

// Base font size
$rfs-base-font-size: 1.25rem !default;
$rfs-font-size-unit: rem !default;

// Factor of decrease
$rfs-factor: 10 !default;

// 1 rem = $rfs-rem-value px
$rfs-rem-value: 16 !default;

// Safari iframe resize bug: https://github.com/twbs/rfs/issues/14
$rfs-safari-iframe-resize-bug-fix: false !default;

@if $rfs-font-size-unit != rem and $rfs-font-size-unit != px {
  @error "`#{$rfs-font-size-unit}` is not a valid unit for $rfs-font-size-unit. Use `px` or `rem`.";
}

@if type-of($rfs-factor) != "number" or $rfs-factor <= 1 {
  @error "`#{$rfs-factor}` is not a valid  $rfs-factor, it must be greater than 1.";
}