
@mixin fontsize($size, $lineheight: null, $override: null) {
  @each $bp-name, $bp-size in $grid-breakpoints {
    $font-data: map-get($io-font-sizes, $size);
    @include media('>=#{$bp-name}') {
      @if $override {
        font-size: map-get($font-data, $bp-name) * $override;
      } @else {
        font-size: map-get($font-data, $bp-name);
      }

      @if $lineheight {
        line-height: $lineheight;
      } @else {
        line-height: map-get($io-line-heights, $bp-name);
      }
    }
  }
}