@mixin list-unstyled {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@mixin list-item-inline {
  display: inline-block;
  white-space: nowrap;

  &:not(:last-of-type) {
    @each $bp-name, $bp-size in $grid-breakpoints {
      @include media('>=#{$bp-name}') {
        margin-right: map-get($io-list-inline-padding, $bp-name);
      }
    }
  }
}